<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3> List your Property </h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">

          <div>
            <tabset class="member-tabset" #formTabs>

              <tab heading="Basic Info"  formGroupName="BasicInfo">

              <!-- Sell rent selection  -->
                <div class="form-group col-12">
                <p> I want to </p>

                  <div class="btn-group" btnRadioGroup  formControlName="SellRent">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio="1" tabindex="0" role="button" name="SellRent"> Sell </label>

                    <label class="btn btn-outline-primary"
                    btnRadio="2" tabindex="0" role="button" name="SellRent"> Rent </label>
                  </div>

                  <div class="error-block" *ngIf="SellRent.invalid && NextClicked">
                    Please select sell or rent
                  </div>
                  <!-- <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                    Please select sell or rent
                  </div> -->
                </div>

              <!-- BHK -->
                <div class="form-group col-12">
                  <p> BHK </p>

                    <div class="btn-group" btnRadioGroup formControlName="BHK"
                    [(ngModel)]="propertyView.BHK"
                    >
                      <label
                      *ngFor="let bhk of ['1','2','3','4']"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="bhk" tabindex="0" role="button" name="BHK"

                      > {{bhk}}
                      </label>

                      <div class="error-block" *ngIf="BHK.invalid && NextClicked">
                        Please select BHK
                      </div>

                    </div>
                </div>

                <div>

              <!-- property type selection -->
                  <div class="form-group col-12">
                    <p> Property Type</p>


                      <div class="btn-group" btnRadioGroup formControlName="PType"
                      [(ngModel)]="propertyView.PType" >
                        <label
                        *ngFor="let propertytype of propertyTypes"
                        class="btn btn-outline-primary mr-2"
                        [btnRadio]="propertytype" tabindex="0" role="button" name="propertyType"> {{propertytype}}
                        </label>

                        <div class="error-block" *ngIf="PType.invalid && NextClicked">
                          Please select Property Type
                        </div>

                      </div>
                  </div>

              <!-- Furnish Type -->
                  <div class="form-group col-12">
                    <p> Furnish Type</p>


                      <div class="btn-group" btnRadioGroup [(ngModel)]="propertyView.FType"  formControlName="FType" >
                        <label
                        *ngFor="let furnishtype of furnishTypes"
                        class="btn btn-outline-primary mr-2"
                        [btnRadio]="furnishtype" tabindex="0" role="button" name="furnishType"> {{furnishtype}}
                        </label>

                        <div class="error-block" *ngIf="FType.invalid && NextClicked">
                          Please select Furnish Type
                        </div>

                      </div>
                  </div>

              <!-- in Society/Building/Project -->
                  <div class="form-group col-12">
                    <label for="name">in Society/Building/Project</label>
                    <input type="text" class="form-control"
                      formControlName="Name"  [(ngModel)]="propertyView.Name">

                      <div class="error-block" *ngIf="Name.invalid && (NextClicked || Name.touched)">
                        Please fill the above
                      </div>
                    <!-- <span *ngIf="!propName.valid && propName.touched" class="error-block">
                    <span *ngIf="propName.errors?.['required']"> Please fill the above</span>
                    <span *ngIf="propName.errors?.['minlength']"> Must be at least 5 char long</span> -->
                    <!-- </span> -->
                  </div>


                  <!-- <div class="form-group col-12">

                    <label for="name">in Society/Building/Project</label>
                    <input type="text" class="form-control"
                    #propName="ngModel"
                    ngModel name="Name"
                    required
                    minlength="5"
                    [(ngModel)]="propertyView.Name" >
                  </div> -->

              <!-- City -->
                  <div class="form-group col-12">
                    <label for="City">City</label>
                    <select class="form-control" [(ngModel)]="propertyView.City" formControlName="City">
                      <option value=""> ---Select City--- </option>
                      <option *ngFor="let city of cityList" value="{{city}}">
                        {{city}}
                      </option>
                    </select>

                    <div class="error-block" *ngIf="City.invalid && (NextClicked || City.touched)">
                      Please fill the City
                    </div>
                  </div>

              <!-- Next button -->
                  <div class="form-group col-12">
                    <button
                    type="button" class="btn btn-primary btn-block" (click)="selectTab(1, BasicInfo.valid)" >Next</button>

                  </div>
                </div>
              </tab>

            <!-- Tab 2 -->
              <tab heading="Pricing and Area info" formGroupName="PriceInfo">

              <!-- Price in (CAD) -->
                <div class="form-group col-12">
                  <label *ngIf="SellRent.value==1">Price (in CAD)</label>
                  <label *ngIf="SellRent.value==2">Rent (in CAD)</label>
                  <input type="text" class="form-control" ngModel formControlName="Price" [(ngModel)]="propertyView.Price"
                  >
                  <div class="error-block"
                  *ngIf="Price.invalid && (NextClicked || Price.touched)">
                    Please select
                    <span *ngIf="SellRent.value==1;else ShowRent"> Sell Price </span>
                    <ng-template #ShowRent>rent price</ng-template>
                  </div>
                </div>

              <!-- Security in CAD -->
                <div *ngIf="SellRent.value==2" class="form-group col-12">
                  <label>Security (in CAD)</label>
                  <input type="text" class="form-control">
                </div>

              <!-- Maintenance (in CAD) -->
                <div *ngIf="SellRent.value==2" class="form-group col-12">
                  <label>Maintenance (in CAD)</label>
                  <input type="text" class="form-control">
                </div>

              <!-- Built Area (in Sqr Feet) -->
                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input type="text" class="form-control" [(ngModel)]="propertyView.BuiltArea" formControlName="BuiltArea">
                  <div class="error-block"
                  *ngIf="BuiltArea.invalid && (NextClicked || BuiltArea.touched)">
                    Please enter Built Area of the house
                  </div>
                </div>

              <!-- Carpet Area(in Sqr Feet) -->
                <div class="form-group col-12">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input type="text" class="form-control">
                </div>

              <!-- back button tab2  -->
                <button (click)="selectTab(0, PriceInfo.valid)"
                type="button" class="btn btn-primary btn-block">
                Back</button>

              <!-- Next button tab2 -->
                <button (click)="selectTab(2, PriceInfo.valid)"
                type="button" class="btn btn-primary btn-block">
                Next</button>

              </tab>

            <!-- Tab 3 -->
              <tab heading="Address" formGroupName="AddressInfo">

              <!-- Floor -->
                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text" class="form-control" formControlName="FloorNo">
                </div>

              <!-- Total Floor -->
                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text" class="form-control" formControlName="TotalFloor">
                </div>

              <!-- Address -->
                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="Address">
                  <div *ngIf="Address.invalid && (NextClicked || Address.touched)" class="error-block"> Please enter the address</div>
                </div>

              <!-- Landmark -->
                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input type="text" class="form-control" formControlName="LandMark">
                </div>

              <!-- Back button tab3 -->
                <button (click)="selectTab(1, AddressInfo.valid)"
                type="button" class="btn btn-primary btn-block">
                Back</button>

              <!-- Next button tab3  -->
                <button (click)="selectTab(3, AddressInfo.valid)"
                type="button" class="btn btn-primary btn-block">
                Next</button>

              </tab>

            <!-- Tab 4 -->
              <tab heading="Other details" formGroupName="OtherInfo">

              <!-- Ready to move -->
                <div class="form-group col-12">
                  <p> Ready to move</p>

                    <div class="btn-group" btnRadioGroup formControlName="RTM">
                      <label
                      *ngFor="let rmove of ['Yes','No']"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="rmove" tabindex="0" role="button" name="RTM"> {{rmove}}
                      </label>
                    </div>
                    <div class="error-block" *ngIf="RTM.invalid && NextClicked">
                      Please select if you are ready to move
                    </div>
                  </div>
                <!-- <div class="form-group col-12">
                  <label>Ready to Move</label><br/>
                  <input type="radio" id='Yes' value='1' name="RTM">
                  <label class="m-2">Yes</label> -->

                  <!-- <input type="radio" id="No" value='2' name="RTM">
                  <label class="m-2">No</label>
                </div> -->


              <!-- Possession/Avaialble From date picker-->
                <div *ngIf="RTM.value=='No'" class="form-group col-3">
                  <label>Possession/Avaialble From</label>
                  <input type="text" formControlName="PossessionOn"
                  placeholder="Datepicker"
                  class="form-control"
                  bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY'}">

                </div>

              <!-- Age of Property -->
                <div class="form-group col-12">
                  <label>Age of Property</label>
                  <input type="number" class="form-control" width="40px" formControlName="AOP">
                </div>

              <!-- Gated community -->
                <div class="form-group col-12">
                  <p> Gated community</p>


                    <div class="btn-group" btnRadioGroup formControlName="Gated">
                      <label
                      *ngFor="let gcom of ['Yes','No']"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="gcom" tabindex="0" role="button" name="gcom"> {{gcom}}
                      </label>

                    </div>
                </div>

              <!-- Main entrance -->
                <div class="form-group col-12">
                  <p> Main entrance</p>


                    <div class="btn-group" btnRadioGroup formControlName="MainEntrance">
                      <label
                      *ngFor="let mentrance of mainEntrance"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="mentrance" tabindex="0" role="button" name="mentrance"> {{mentrance}}
                      </label>

                    </div>
                </div>

              <!-- Description -->
                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea type="text" class="form-control" rows="6" formControlName="Description"></textarea>
                </div>

                <button (click)="selectTab(2, OtherInfo.valid)"
                type="button" class="btn btn-primary btn-block">
                Back</button>

                <button (click)="selectTab(4, OtherInfo.valid)"
                type="button" class="btn btn-primary btn-block">
                Next</button>

              </tab>

            <!-- Tab 5 -->
              <tab heading="Photos">

                <div class="form-group col-12">
                  <div class="photo-control">
                      <button class="mt-5" type="button">Upload</button> <br>
                      This is under construction
                  </div>
                </div>

                <button (click)="selectTab(3, true)" type="button" class="btn btn-primary btn-block">Back</button>

                <button type="reset" class="btn btn-primary btn-block">Cancel</button>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>


              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card-header">
      <h3> Your Property Preview</h3>
    </div>
    <div class="shadow-lg p-3 bg-light">
      <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
    </div>
  </div>
</div>
